body {
  height: 100vh;
  background-color: #ffe9a7;
}

.triangle {
  position: absolute;
}

.svg-triangle {
  padding: 2px;
}

.svg-triangle polygon {
  fill: none;
  stroke:#ff9824;
  stroke-width:2;
}

.svg-triangle polygon:hover {
  cursor: pointer;
}

.grid {
  position: absolute;
  z-index: -1;
  border: 1px solid black;
}

.grid-x {
  height: 0;
  width: 100vw;
}

.grid-y {
  height: 100vh;
  width: 0;
}
