body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    background-color: #ffc700;
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.divider {
    border-bottom: 1px solid #000;
    width: 100%;
}
.divider p {
    font-size: 2em;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 3rem;

}

.row {
    display: flex;
    margin: 0 auto;
}

.buttons .blacks a {
    font-size: 10em;
    /* padding: 2rem 5rem 2rem 5rem; */
    background-color: black;
    border-radius: 10rem;
    min-height: 15rem;
    min-width: 15rem;
    display: flex;
    text-decoration: none;
    margin: 1rem;
}

.buttons .blacks a:hover {
    cursor: pointer;
}

.buttons .blacks a p {
    color: white;
    margin: auto auto;
}

.performer .row a{
    min-width: 31rem;
}

.inactive {
    display: none;
}

.link {
    font-size: 4em;
    text-decoration: underline;
    color: #000;
    max-width: 80vw;
}

.controls {
    justify-content: space-evenly;
    font-size: 3rem;
    margin: 0 1rem 3rem 1rem;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 12px;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}

.controls:hover {
    cursor: pointer;
}

.controls div {
   margin: 0 auto;
}

.controls.on {
    background-color: #000;
    color: #fff;
}

input {
    width: 50vw;
    margin: 0 auto 4rem auto;
    background: #000;
    height: 1rem;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #000;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
