body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    background-color: #ceba0c;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.container {
    width: 50vw;
    height: 50vh;
    margin: 25vh 25vw;
}
h1 {
    font-size: 7em;
    margin-block-start: 0em;
}
p {
    font-size: 2em;
}

.listening {
    display: none;
    font-style: italic;
}

.active {
    display: block;
}

/* Portrait and Landscape */
@media (max-width: 1000px) {

    h1 {
        font-size: 4em;
    }
    p {
        font-size: 1.5em;
    }
    .container {
        width: 60vw;
        margin: 25vh 20vw;
    }
}
